body {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428); 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 3rem!important;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color:#004e92;
  margin-bottom: 30px !important;
  font-size: 2rem !important;
  text-align: center;
}

.content {
  padding:20px;
}
.main-content {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.btn{
  margin: 0 !important;
  text-transform: none !important;
  box-shadow: none !important;
}

.submit-button{
  min-width: fit-content;
  height: fit-content;
  transition: ease-in-out .5s !important;
  border: solid 2px #28a745 !important;
  border-radius: 15px !important;
}
.submit-button:hover{
  border-color: #218838 !important;
  background-color: transparent !important;
  color: #218838 !important;
}

.alert {
  /* position: relative; */
  /* padding: .75rem 1.25rem; */
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert p {
  margin-bottom: 0!important;
}