body {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428); 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 3rem!important;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color:#004e92;
  margin-bottom: 30px !important;
  font-size: 2rem !important;
  text-align: center;
}

.content {
  padding:20px;
}
.main-content {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.btn{
  margin: 0 !important;
  text-transform: none !important;
  box-shadow: none !important;
}

.budget p{
  margin-bottom: 0;
  font-weight: bold;
}
.budget p span {
  font-weight: normal;
}

.fild {
  margin-bottom: 2rem;
}

.error {
  text-align: center;
}

.alert {
  /* position: relative; */
  /* padding: .75rem 1.25rem; */
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert p {
  margin-bottom: 0!important;
}

#expense {
  margin-bottom: 30px;
}
.expenses-make  {
  margin-bottom: 2rem;
}
.expenses-make li{
  list-style: none;
  margin-bottom: 0rem;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0;
}
.expenses-make li:last-of-type {
  margin-bottom: 0!important;
}
.expenses-make li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
}
.expenses-make li p .gasto {
  background-color: #004085;
  padding: 1rem;
  color:white;
}